@{
    ViewBag.Title = "Agents Tournaments";
}

<style>
    .Buttons:hover {
        background-color: dimgray;
        color:white;
    }

    .TournamentButton {
        color: white;
        background-color: dimgray;
    }
</style>

<div class="row" style="padding-top:100px;text-align:center;">
    <div class="col-md-15">
        <a href="@Url.Action("Players","Agents")" class="btn btn-primary btn-lg" formnovalidate> Players </a>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>

        <a href="@Url.Action("Tournaments","Agents")" class="btn btn-primary btn-lg" formnovalidate> Tournaments </a>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>

        <a href="@Url.Action("Tickets","Agents")" class="btn btn-primary btn-lg" formnovalidate> Tickets </a>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>

        <a href="@Url.Action("ValidatePosts","Agents")" class="btn btn-primary btn-lg" formnovalidate> Posts (@ViewData["Count"]) </a>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </div>
</div>

<div class="row" style="margin-left:2%; text-align:center">
    <h2 style="text-align:center">This Page has nothing related to grading schema, but in future we can develop this page for adding/updating the Tournament details by agents.</h2>
</div>

